.navigation {
    border-bottom: 1px solid #e2e2e2;
    height: 90px;
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px 200px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 5;
}
.menu {
    display: flex;
    height: 100%;
}
.menu a {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.menu > a > span {
    width: 0px;
    height: 4px;
    background-color: #ff860b;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.menu a:hover > span  {
    width: 25px;
}
.menu a.scrollActive > span {
    width: 25px;
}

.menu a.scrollActive  {
    background-color: #eaeaea;
}

a.scrollActive > span {
    width: 25px;
}
.onMobile {
    display: none !important;
}
.picto {
    display: none !important;
}

/* -- -- STICKY -- -- */
.navigation.sticky {
    height: 80px;
    background-color: #fff;
}

/* -- -- MEDIA QUERIES -- -- */ 

/* ///////////////////////////////////////////////// 1500PX */
@media screen and (max-width: 1500px) {
  .navigation {
    padding: 0px 150px;
  }
}

/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1400px) {
    .navigation {
      padding: 0px 100px;
    }
}

/* ///////////////////////////////////////////////// 1239PX */
@media screen and (max-width: 1239px) {
    .navigation {
      padding: 0px 50px;
    }
}

/* ///////////////////////////////////////////////// 900PX */
@media screen and (max-width: 900px) {
    .notMobile {
        display: none !important;
    }
    .navigation {
        padding: 0px 35px;
    }
    .onMobile {
        display: flex !important;
        border-radius: 35px;
        background-color: #ff860b;
        font-weight: 700;
        padding: 10px 25px;
        font-size: 0.9em;
        cursor: pointer;
    }
    .menu {
        height: auto;
    }
    .onMobile > div {
        display: none !important;
    }
}

/* ///////////////////////////////////////////////// 600PX */
@media screen and (max-width: 600px) {
    .navigation {
        padding: 0px 25px;
        position: absolute;
    }
}

/* ///////////////////////////////////////////////// 500PX */
@media screen and (max-width: 500px) {
    .picto {
        display: flex !important;
    }
    .txtNumber {
        display: none !important;
    }
    .onMobile > div {
        display: flex !important;
    }
    .onMobile {
        display: flex !important;
        border-radius: 0px !important;
        background-color: transparent !important;
        padding: 0px 15px !important;
    }
}

/* ///////////////////////////////////////////////// 450PX */
@media screen and (max-width: 450px) {
    .navigation {
        padding: 0px 15px;
    }
}