.footer {
    padding: 50px 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.titleFooter {
    font-size: 1.2em;
    font-weight: 700;
    color: #ff7887;
    padding-bottom: 15px;
}
.colCoord {
    display: flex;
    line-height: 1em;
    align-items: center;
}
.colCoord:not(:last-child) {
    margin-bottom: 10px;
}
.picto {
    padding-right: 8px !important;
}
.linkFooter {
    cursor: pointer;
}
.colFooter {
  padding: 0px 15px;
}
.rowMentionsLegales {
  margin-top: 35px;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding: 0px 120px;
  line-height: 1.5em;
}

/* ///////////////////////////////////////////////// 1500PX */
@media screen and (max-width: 1500px) {
  .footer {
    padding: 75px 150px;
  }
}
  
/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1400px) {
  .footer {
    padding: 75px 75px;
  } 
}
  
/* ///////////////////////////////////////////////// 1239PX */
@media screen and (max-width: 1239px) {
  .footer {
    padding: 75px 50px;
  }
}

/* ///////////////////////////////////////////////// 900PX */
@media screen and (max-width: 900px) {
  .rowFooter {
    flex-wrap: wrap;
  }
  .colFooter {
    width: 50%;
  }
  .colFooter:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
  }
  .rowMentionsLegales {
    padding: 0px;
  }
}

/* ///////////////////////////////////////////////// 768PX */
@media screen and (max-width: 768px) {
  .colFooter {
    padding: 0px;
  }
  .footer {
    padding: 40px 35px;
  }
  .colFooter:first-child {
    padding-bottom: 0px;
  }
  .colFooter {
    width: 100%;
  }
  .rowMentionsLegales {
    text-align: left;
  }
}

/* ///////////////////////////////////////////////// 600PX */
@media screen and (max-width: 600px) {
  .footer {
    padding: 40px 25px;
  }
}

/* ///////////////////////////////////////////////// 400PX */
@media screen and (max-width: 400px) {
  .colFooter:first-child {
    align-items: flex-start;
  }
}