.footer {
    padding: 50px 200px;
    display: flex;
    align-items: center;
}
.titleFooter {
    font-size: 1.2em;
    font-weight: 700;
    color: #ff7887;
    padding-bottom: 15px;
}
.colCoord {
    padding: 0px 10px;
    display: flex;
    line-height: 1em;
    align-items: center;
}
.colCoord:not(:last-child) {
    margin-bottom: 10px;
}
.picto {
    padding-right: 8px !important;
}
.linkFooter {
    cursor: pointer;
}

/* ///////////////////////////////////////////////// 1500PX */
@media screen and (max-width: 1500px) {
  .footer {
    padding: 75px 150px;
  }
}
  
/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1400px) {
  .footer {
    padding: 75px 75px;
  } 
}
  
/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1239px) {
  .footer {
    padding: 75px 50px;
  }
}

/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1239px) {
  .footer {
    padding: 35px 35px;
  }
}