.navigation {
    border-bottom: 1px solid #e2e2e2;
    height: 90px;
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 5;
}
.menu {
    display: flex;
}
.menu a {
    padding: 10px 15px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo > div {
    overflow: visible !important;
}
.logoImg {
    transform: translateY(15px);
    transition: all 0.3s;
}
.logoText {
    padding-left: 15px;
    line-height: 1.4em;
    transition: all 0.3s;
}
.logoText > span {
    display: block;
    font-weight: 700;
}

/* -- -- STICKY -- -- */
.navigation.sticky {
    height: 80px;
    background-color: #fff;
}
.navigation.sticky .logoImg {
    width: 75px !important;
    min-width: 70px !important;
    transform: translateY(0px);
}
.navigation.sticky .logoText {
    padding-left: 0px;
}