.navigation {
    border-bottom: 1px solid #e2e2e2;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.menu {
    display: flex;
}
.menu a {
    padding: 10px 15px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo > div {
    overflow: visible !important;
}
.logo img {
    transform: translateY(15px);
}
.logoText {
    padding-left: 15px;
    line-height: 1.4em;
}
.logoText > span {
    display: block;
    font-weight: 700;
}