.colPresta {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  margin: 0px 15px;
  box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.2);
  overflow: hidden;
}
.colPresta > p {
  position: relative;
}
.titlePresta {
  font-size: 1.4em;
  font-weight: 700;
  padding-bottom: 15px;
  color: #ff7887;
  padding-top: 200px;
}
.tarifs {
  font-style: italic;
  color: #ff7887;
  padding-top: 15px;
  font-size: 1.2em;
  text-align: right;
}
.imageParent {
  height: 200px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.imageParent:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.imageParent > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
}
.colPlant {
  align-items: flex-end;
  justify-content: flex-end;
}

/* ///////////////////////////////////////////////// 1550pX */
@media screen and (max-width: 1550px) {
  .titlePresta {
    padding-top: 150px;
  }
  .imageParent > div {
    transform: translate(-50%, -50%);
  }
}

/* ///////////////////////////////////////////////// 1024PX */
@media screen and (max-width: 1024px) {
  .colPlant {
    display: none;
  }
  .colPresta {
    width: 50%;
  }
}

/* ///////////////////////////////////////////////// 900PX */
@media screen and (max-width: 900px) {
  .imageParent {
    height: 150px;
  }
}

/* ///////////////////////////////////////////////// 768PX */
@media screen and (max-width: 768px) {
  .colPresta {
    margin: 0px;
    width: 100%;
  }
}