/* -- -- COL TEXTE -- -- */ 
.coltext {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.titleSlider {
  font-size: 2.2em;
  font-weight: 700;
  color: #000;
  padding-bottom: 20px;
  line-height: 1.5em;
}
.contentSlider {
  font-style: italic;
}

/* -- -- COL IMAGES -- -- */ 
.slider {
  padding-top: 165px;
  height: auto;
  display: flex;
  background-image: url(../public/fond-slider.png);
  background-position: 0% 40%;
}
.figures {
  width: 100%;
  height: 500px;
  position: relative;
}
.figures > div {
  position: absolute !important;
  overflow: visible !important;
  width: 450px;
}
.figures > div:first-child {
  left: 50%;
  transform: translateX(-90%) rotate(-2deg);
}
.figures > div:last-child {
  right: 50%;
  transform: translateX(90%) translateY(10%) rotate(3deg);
}
.man {
  animation-delay: 0.5s;
  animation: man 4s infinite;
}
.woman {
  animation: woman 4s infinite;
  right: 0;
}
@keyframes woman {
  0%{transform: translateY(0px)}
  30%{transform: translateY(10px)}
  95%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}
@keyframes man {
  0%{transform: translateY(0px)}
  50%{transform: translateY(-20px)}
  90%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}

/* -- -- MEDIA QUERIES -- -- */ 

/* ///////////////////////////////////////////////// 1700PX */
@media screen and (max-width: 1700px) {
  .figures > div {
    width: 350px;
  }
  .figures {
    height: 400px;
  }
  .slider {
    background-position: 0% 60%;
}
}

/* ///////////////////////////////////////////////// 1500PX */
@media screen and (max-width: 1500px) {
  .slider {
        background-position: 20% 50%;
  }
}

/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1400px) {
  .figures > div:first-child {
    transform: translateX(-80%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(80%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 1239PX */
@media screen and (max-width: 1239px) {
  .slider {
    background-position: 70% 80%;
  }
}

/* ///////////////////////////////////////////////// 1024PX */
@media screen and (max-width: 1024px) {
  .figures > div:first-child > div:first-child {
    max-width: 90% !important;
  }
  .figures > div:last-child > div:first-child  {
    max-width: 90% !important;
  }
  .figures {
    height: 350px;
  }
  .figures > div:first-child {
    transform: translateX(-70%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(70%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 768PX */
@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column-reverse;
    padding-top: 135px;
    background-position: 70% 120%;
    background-repeat: no-repeat;
  }
  .figures > div:first-child {
    transform: translateX(-80%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(80%) translateY(10%) rotate(3deg);
  }
  .coltext {
    align-items: center;
    margin-bottom: 0px !important;
    margin-top: 25px;
  }
  .titleSlider {
    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 5px;
    text-align: left;
  }
}

/* ///////////////////////////////////////////////// 600PX */
@media screen and (max-width: 600px) {
  .figures > div:first-child {
    transform: translateX(-70%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(70%) translateY(10%) rotate(3deg);
  }
  .figures > div {
    width: 300px;
  }
  .figures > div:last-child > div:first-child  {
    max-width: 100% !important;
  }
  .slider {
    background-position: 70% 160%;
  }
}

/* ///////////////////////////////////////////////// 450PX */
@media screen and (max-width: 450px) {
  .slider {
    background-position: 69% 120%;
  }
  .figures > div {
    width: 270px;
  }
  .figures > div:last-child {
    transform: translateX(60%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 400PX */
@media screen and (max-width: 400px) {
  .figures > div:first-child {
    transform: translateX(-65%) rotate(-2deg);
  }
  .slider {
    background-position: 69% 162%;
  }
  .titleSlider {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}