/* -- -- COL TEXTE -- -- */ 
.coltext {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.titleSlider {
  font-size: 2.2em;
  font-weight: 700;
  color: #000;
  padding-bottom: 20px;
  line-height: 1.5em;
}

/* -- -- COL IMAGES -- -- */ 
.slider {
  padding-top: 165px;
  height: auto;
  display: flex;
  background-image: url(../public/fond-slider.png);
  background-position: 0% 40%;
}
.figures {
  width: 100%;
  height: 500px;
  position: relative;
}
.figures > div {
  position: absolute !important;
  overflow: visible !important;
  width: 450px;
}
.figures > div:first-child {
  left: 0;
  transform: translateX(20%) rotate(-2deg);
}
.figures > div:last-child {
  right: 0;
  transform: translateX(-20%) translateY(10%) rotate(3deg);
}
.man {
  animation-delay: 0.5s;
  animation: man 4s infinite;
  max-width: 400px !important;
  width: 400px !important;
}
.woman {
  animation: woman 4s infinite;
  right: 0;
}
@keyframes woman {
  0%{transform: translateY(0px)}
  30%{transform: translateY(10px)}
  95%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}
@keyframes man {
  0%{transform: translateY(0px)}
  50%{transform: translateY(-20px)}
  90%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}

/* -- -- MEDIA QUERIES -- -- */ 

/* ///////////////////////////////////////////////// 1700PX */
@media screen and (max-width: 1700px) {
  .figures > div {
    width: 350px;
  }
  .figures {
    height: 400px;
  }
  .slider {
    background-position: 0% 60%;
}
}

/* ///////////////////////////////////////////////// 1500PX */
@media screen and (max-width: 1500px) {
  .slider {
        background-position: 20% 50%;
  }
}

/* ///////////////////////////////////////////////// 1400PX */
@media screen and (max-width: 1400px) {
  .figures > div:first-child {
    transform: translateX(10%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(-10%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 1239PX */
@media screen and (max-width: 1239px) {
  .figures > div:first-child {
    transform: translateX(0%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(0%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 1024PX */
@media screen and (max-width: 1024px) {
  .figures > div:first-child > div:first-child {
    max-width: 90% !important;
  }
  .figures > div:last-child > div:first-child  {
    max-width: 90% !important;
  }
  .figures {
    height: 350px;
  }
  .figures > div:first-child {
    transform: translateX(-20%) rotate(-2deg);
  }
  .figures > div:last-child {
    transform: translateX(15%) translateY(10%) rotate(3deg);
  }
}

/* ///////////////////////////////////////////////// 768PX */
@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column-reverse;
    padding-top: 135px;
  }
}